* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f3f4f6;
    background-image:url(Music_chords2.jpeg);
  }
  
  header {
    background-color: #d3b9f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .menu-bar {
    font-size: 24px;
    cursor: pointer;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 8px 8px 20px rgba(228, 138, 255, 0.945);
    border-radius: 30px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 30px;
    color: #000000;
    text-decoration: underline;
    font-weight: bolder;
  }
  
  canvas {
    max-width: 100%;
  }
  